<!DOCTYPE html>
<html>
    <head>
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <title>Shoe Shopper | {{ store.getName }}</title>
    </head>
    <body>
        <div class="container">
            <h1 class="jumbotron">View/Edit {{ store.getName }}</h1>
            <h4>Here, you can view {{ store.getName }}'s information, including which brands {{ store.getName }} carries.<h4>

            <div class="row">
                <div class="col-sm-4">
                    <form action="/view_store/{{ store.getId }}" method="post">
                        <div class="center">
                            <h4>Add a Brand</h4><br>
                        </div>

                        <input name="store_id" type="hidden" value="{{ store.getId }}">

                        <select name="brand_id" class="form-control">
                            {% for brand in brands %}
                                <option value="{{ brand.getId }}">{{ brand.getName }}</option>
                            {% endfor %}
                        </select><br>

                        <div class="center">
                            <button type="submit" class="btn btn-sm">Add</button>
                        </div>
                    </form>
                </div>

                <div class="col-sm-4">
                    <form action="/edit_store/{{ store.getId }}" method="post">
                        <input type="hidden" name="_method" value="patch">

                        <div class="center">
                            <h4>Edit {{ store.getName}}</h4>
                        </div>

                        <div class="form-group">
                            <label for="store_name">Name</label>
                            <input type="text" name="store_name" class="form-control" placeholder="name">
                        </div>

                        <div class="form-group">
                            <label for="phone_number">Phone Number</label>
                            <input type="text" name="phone_number" class="form-control" placeholder="xxx-xxx-xxxx">
                        </div>

                        <div class="form-group">
                            <label for="street">Street</label>
                            <input type="text" name="street" class="form-control" placeholder="street">
                        </div>

                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" name="city" class="form-control" placeholder="e.g. 'Portland'">
                        </div>

                        <div class="form-group">
                            <label for="state">State</label>
                            <input type="text" name="state" class="form-control" placeholder="e.g. 'OR'">
                        </div>

                        <div class="form-group">
                            <label for="store_name">Zip</label>
                            <input type="text" name="zip" class="form-control" placeholder="xxxxx">
                        </div>

                        <div class="center">
                            <button type="submit" class="btn btn-sm">Save</button><br><br>
                        </div>
                    </form>
                </div>

                <div class="col-sm-4">
                    <div class="center">
                        <h4>Store Brands</h4>
                    </div>

                    {% for brand in store_brands %}
                        <div class="center">
                            <h4>{{ brand.getName }}</h4>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row">
                <form action="/" method="get">
                    <div class="center">
                        <button type="submit" class="btn btn-sm">Home</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
